<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Cinte</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/empresa">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/venta">Venta</a>
      </li>
      
    </ul>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>